@import './colors.scss';
@import './standard.scss';

.trips-list{
    display: none;
    @extend %display-center;
    flex-direction: column;
    // position: relative;
    @extend %center-layout;
    z-index: 15;

    @media(min-width: 768px) {
        // background-color: green;
        @include clear-layout();
        width: 38vw;
        // display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
        display: none;
        z-index: 10 !important;
        max-height: 100vh;
        
    }
    
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }


    &__card{
        position: relative;
        height: 17.2rem;
        width: 11.6rem;
        border-radius: 1rem;
        cursor: pointer;
        box-shadow: 0 10px 20px rgba(82, 74, 74, 0.3);
        background-image:
        linear-gradient(0deg, $Arizona-6-hex 0%, $Arizona-6-rgba 30%, $Arizona-6-rgba 100%),
        url('../assets/hero-mobile_6.jpg');
        @extend %background;
        // margin: 0 1rem;
        
        &:hover {
            box-shadow: 0 10px 20px rgba(82, 74, 74, 0.5);
            transition: all .3s ease-in-out;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            background-color: rgba(0,0,0,0);
            transition: background-color .3s ease-in-out;
        }
        
        &:hover::after{
            background-color: $Arizona-6-rgba;
            transition: background-color .3s ease-in-out;
        }

        span{
            position: absolute;
            display: block;
            color: $Arizona-4-hex;
            padding: 1rem .8rem;
            bottom: 0;
            @extend %small-text;
        }

    }

    &__header{
        @include header();
        color: $Arizona-4-hex;
        margin-bottom: 3rem;
    }

    .add-trip {
        @extend %display-center;
        border-radius: 50%;
        color: $Arizona-7-hex;
        font-size: 2rem;
        z-index: 2;
        width: 3rem;
        height: 3rem;
        background-color: $Arizona-4-hex;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        transform: translateX(-50%);
        box-shadow: 0 10px 20px rgba(82, 74, 74, 0.3);
        
        &:hover {
            cursor: pointer;
            background-color: $Arizona-3-hex;
            box-shadow: 0 10px 20px rgba(82, 74, 74, 0.5);
            transition: all .3s ease-in-out;
        }
    }
}

.inner-container{
    display: flex;
  flex-wrap: nowrap;
//   overflow-x: scroll;
overflow-y: auto;
  
.trips-list__card {
    flex: 0 0 auto;
    margin: 2rem 1rem;
  }

  width: 320px;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

   
}